<!-- Simple floating Navigation -->
<header class="nav">
  <div class="nav__container container">
    <div class="nav__brand">
      <img src="assets/ksd.jpeg" alt="Kamal Steel Doors Logo" class="nav__logo">
      <span>Kamal Steel Doors</span>
    </div>

    <div class="nav__flags">
      <img src="assets/icon/morocco.png" alt="Morocco" class="nav__flag">
      <img src="assets/icon/turkey.png" alt="Turkey" class="nav__flag">
    </div>

    <div class="nav__links">
      <a href="#installations">Installations</a>
      <a href="#about">À propos</a>
      <a href="#location">Showroom</a>
      <a href="#contact" class="nav__btn">Contact</a>
    </div>
  </div>
</header>

<main class="main-content">
  <app-hero></app-hero>
  <app-installations></app-installations>
  <app-about></app-about>
  <app-location></app-location>
  <app-contact></app-contact>
</main>
